<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/" />
    <title></title>
    <link rel="stylesheet" type="text/css" href="/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/style.css" />
    <script src="/lodash/index.js"></script>
    <script src="/ada/smoothScroll.js"></script>
    <script src="/angular/angular.js"></script>
    <script src="/angular-animate/angular-animate.js"></script>
    <script src="/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap.js"></script>
    <script src="/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/socket.io-client/socket.io.js"></script>
    <script src="/main.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,700italic,800,800italic,700,600italic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">
</head>
<body ng-app="WrapperApp" class="blue">
    <navbar></navbar>
    <div id="main" ui-view></div>
    <div id="footer">
      
      <div id="links">
        <div class="container">
          
          <div class="col-sm-2">
            <p class="brand"><span>Brand</span></p>
          </div>

          <div class="col-sm-8">
            <ul class="list-inline">
              <li><a href="home-masonry.html">Home</a></li>
              <li><a href="page-about.html">About</a></li>
              <li><a href="page-contact.html">Contact</a></li>
            </ul>
          </div>

          <div class="col-md-2">
            <ul class="list-inline">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>

        </div>
      </div>

    </div>
    <div class="themeswitcher">
      <div class="toggle"><i class="fa fa-gear"></i></div>
      <div class="colors">
        <h4>Choose colour</h4>
        <div class="color orange btn btn-default btn-block" data-color="orange"></div>
        <div class="color green btn btn-default btn-block" data-color="green"></div>
        <div class="color red btn btn-default btn-block" data-color="red"></div>
        <div class="color blue btn btn-default btn-block" data-color="blue"></div>
        <div class="color pink btn btn-default btn-block" data-color="pink"></div>
        
        <div class="color azure btn btn-default btn-block" data-color="azure"></div>
        <div class="color yellow btn btn-default btn-block" data-color="yellow"></div>
        <div class="color purple btn btn-default btn-block" data-color="purple"></div>
        <div class="color army btn btn-default btn-block" data-color="army"></div>
        <div class="color cadet btn btn-default btn-block" data-color="cadet"></div>
      </div>
    </div>
    <script src="/importjs/js/jquery-1.11.3.min.js"></script>
    <script src="/importjs/js/bootstrap.min.js"></script>
    <script src="/importjs/js/owl.carousel.js"></script>
    <script src="/importjs/js/smoothScroll.js"></script>
    <script src="/importjs/js/wow.min.js"></script>
    <script src="/importjs/js/themeswitcher.js"></script>
    
    <!-- Theme Scripts -->
    <script src="/importjs/js/main.js"></script>
</body>
</html>
